*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction:row;
  align-items: flex-end;
  gap: 30px;

}

.search-form {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  margin-top: 17px;
}

.result {
  margin-bottom: 10px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  overflow: hidden;
}

.result__video {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form__fieldset-title {
  padding-bottom: 5px;

  font-family: 'Fira Sans Condensed';
  font-weight: normal;
  font-size: 18px;
}

.search-form__textfield {
  width: 225px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  outline: none;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-right: 15px;
  cursor: pointer;
}

.search-form__label:last-child {
  margin-right: 0;
}

.search-form__label:has(:focus-visible){
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after{
  content: '';
  /* position: absolute; */
  top: 1px;
  left: 1px;
  display: none;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

input[type='checkbox']:active + span {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__label-text {
  font-size: 18px;
  line-height: 18px;
}

.search-form__label-text:hover {
  cursor: pointer;
}

.button {
  height: 34px;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  cursor: pointer;
  appearance: none;

}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  margin-top: 20px;
}

.more-button {
  width: 399px;
  padding: 0;
}

.more-button:focus-visible {
  margin: 3px;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: scroll;
}

.content__list:focus-visible {

  padding: 3px;
  outline: 1px solid #fff;
  outline-offset: 1px;

}

.title {
  padding-bottom: 21px;
  font-family: Oswald;
  font-weight: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__details {
  width: 100%;
  height: 100%;
  margin-bottom: 11px;
}

.content__list-item {
  z-index: 10;
  margin-bottom: 30px;
}

.content__list-item:last-child { 
  margin-bottom: 0;
}

.content__video-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 107px;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;

  margin-right: 3px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex: 1;
}

.content__card-link {
  position: relative;
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: normal;
  font-size: 18px;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.content__card-link:focus-visible {
  padding: 0;
  outline: 1px solid #fff;
  outline-offset: -1px;
}
